@font-face {
  font-family: dejavu;
  src: url(DejaVuSansMono-Bold.woff);
}

:root {
  --notsoblack: #262626;
}

body {
	font-family: dejavu;
	width: 6.5in; 
	margin-left: 0.8in;
	/*background-color: #f2f2f2;*/
}

p {
	font-size:   10pt;
	text-align:  left;
	line-height: 1.2;
	color:var(--notsoblack);
	
}

pre {
	display: block;
	font-family: dejavu;
	white-space: pre;
	margin: 1em 0;
	font-size:   10pt;
	text-align:  left;
	line-height: 1.2;
	color:var(--notsoblack);
	background-color: #f2f2f2;
	
}

h2 {
color:var(--notsoblack);	
}

/* standard link */

a:link {
    text-decoration: none;
	color: blue;
}

a:visited {
    text-decoration: none;
	color: blue;
}

a:hover {
    text-decoration: underline;
	/*color: grey;*/
	color: black;
	background-color:rgb(238, 238, 228);
}

a:active {
    text-decoration: none;
	color: blue;
}

/* responsive css for small "devices" */

@media screen and (max-device-width: 700px) {
    body {
    padding: 10px;    
	width: 	    auto; 
	margin-left: 6px;		
    }
}

/* responsive css for small "browser window" */

@media screen and (max-width: 701px) {
    body {
    padding: 10px;    
	width: 	    auto; 
	margin-left: 6px;		
    }
}